{% extends "shared/base.html" %}
{% load static %}

{% block title %}Home | Elister Med{% endblock %}

{% block content %}

<!-- SECTION 1 HERO -->
<section id="heroCarousel" class="carousel slide" data-bs-touch="true" data-bs-interval="4500"
        data-bs-ride="carousel" data-bs-pause="false">

    <!-- <div class="carousel-indicators">
        <button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="2"></button>
    </div> -->

    <div class="carousel-indicators">
    {% for banner in banners %}
        <button type="button"
                data-bs-target="#heroCarousel"
                data-bs-slide-to="{{ forloop.counter0 }}"
                class="{% if forloop.first %}active{% endif %}">
        </button>
    {% endfor %}
</div>


    <div class="carousel-inner">

    {% for banner in banners %}
    <div class="carousel-item {% if forloop.first %}active{% endif %} position-relative" style="height:100vh;">

        {% if banner.image %}
            <img src="{{ banner.image.url }}"
                 alt="{{ banner.image_alt }}"
                 class="w-100 h-100 position-absolute top-0 start-0"
                 style="object-fit: cover;">
        {% endif %}

        <!-- Overlay -->
        <div class="position-absolute top-0 start-0 w-100 h-100"
             style="background: rgba(0,0,0,0.2);"></div>

        <div class="container h-100 position-relative">
            <div class="row h-100 align-items-center">

                <div class="col-lg-6 text-white">

                    {% if banner.title %}
                        <h1 class="fw-bold">{{ banner.title }}</h1>
                    {% endif %}

                    {% if banner.description %}
                        <p class="lead my-4">{{ banner.description }}</p>
                    {% endif %}

                    <a href="{% url 'booking:book_appointment'%}" class="btn btn-custom">Book Appointment</a>

                </div>

            </div>
        </div>

    </div>
    {% endfor %}

</div>

    

</section>


<!-- SECTION 2 SERVICES -->


<section class="py-5 mobile-hide-bg position-relative" >

    <!-- LEFT SIDE BACKGROUND IMAGE -->
    <img src="{% static 'assets/images/siteimages/abt_img.jpg' %}"
         alt="About Background"
         class="position-absolute top-0 start-0 h-80"
         style="width: 100%; object-fit: cover; object-position: left; z-index: 0; ">
         
          <div class="container">
            <div class="row g-4">
               {% for feature in features %}
                <div class="col-md-3">
                    <div class="service-card p-5  reveal reveal-left">
                        <img src="{{ feature.image.url }}"  alt="{{ feature.title }}">
                        <h5 class="text-blue-dark p-2 ">{{ feature.title }}</h5>
                    </div>
                </div>
                {% endfor %}
               
            </div>
        </div>

</section>

 



 <!-- Section 3 -->
    <section class="section-padding" style="background-color: #f7f7f7;">
        <div class="container">
            <div class="row align-items-center" style="margin-top:20px">
                <div class="col-lg-5">
                    <h6 class="text-blue fw-bold reveal reveal-right">{{homepage.about_subtitle}}</h6>
                    <h2 class="display-5 fw-bold mb-4 text-blue-medium  reveal reveal-left">{{homepage.about_title}}</h2>
                    <img src="{{homepage.about_image1.url}}"
                        class=" reveal reveal-right img-fluid rounded-corner mb-4" alt="{{homepage.about_image1_alt}}">
                </div>
                <div class="col-lg-7">
                    <div class="row g-3 img-grid">
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <img class="reveal reveal-right" src="{{homepage.about_image2.url}}"
                                alt="{{homepage.about_image2_alt}}">
                            <p class="text-muted py-4  reveal reveal-left">
                               {{homepage.about_description }}
                            </p>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12  reveal reveal-right">
                            <img src="{{homepage.about_image3.url}}" alt="{{homepage.about_image3_alt}}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

     <!-- Section 4 -->
    <!-- linear-gradient(rgba(0, 60, 120, 0.6), rgba(0, 60, 120, 0.6)),  -->
 
    <section class="blue-section position-relative overflow-hidden">

    <!-- Background Image (replaces CSS background) -->
    <img src="{{homepage.why_choose_banner}}"
         alt="{{homepage.why_choose_title}}"
         class="position-absolute top-0 start-0 w-100 h-100"
         style="object-fit: cover; z-index: 0;">

    <!-- Optional Overlay (keeps text readable like before) -->
    <div class="position-absolute top-0 start-0 w-100 h-100"
         style="background: rgba(0,0,0,0.4); z-index: 0;"></div>

   <div class="container text-center">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-6 text-start">
                    <h6 class="text-blue fw-bold  reveal reveal-left">{{homepage.why_choose_subtitle}}</h6>
                    <h2 class="mb-3  reveal reveal-right">{{homepage.why_choose_title}} 
                         </h2>
                </div>
                <div class="col-md-12 col-sm-12 col-lg-6 text-start  reveal reveal-left">
                    <p>
                        {{homepage.why_choose_description}}
                    </p>
                </div>
            </div>
            <div class="row mt-5 mb-5">
                {% for wch in why_specialization %}
                <div class="col-md-3 col-6">
                    <div class="feature-icon-box  reveal reveal-left">
                        <img src="{{wch.image.url}}">
                        <p>{{wch.title}}</p>
                    </div>
                </div>
                 {% endfor %}
               
            </div>
           
            <div class="row">
                <div class="col justify-content-center">
                 
                    <a href="{% url 'userapp:specialization_list' %}" class="btn btn-light btn-custom reveal reveal-right">
    Read More
</a>
                </div>
            </div>
        </div>

</section>

       <!-- Section 5 -->
    <section class="py-5" style="background-color: #f8f9fa;">
        <div class="container text-center mb-5">
            <h6 class="text-blue mb-2 fw-bold  reveal reveal-left">{{homepage.staff_subtitle}}</h6>
            <h2 class="text-blue-dark fw-bold  reveal reveal-right">{{homepage.staff_title}}</h2>
        </div>

        <div class="container">
            <div id="doctorCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">


                    {% for doctor in doctors %}
<div class="carousel-item {% if forloop.first %}active{% endif %}">

    <div class="doctor-card mx-auto shadow-sm"
        style="background:#fff; border-radius:40px; overflow:hidden; max-width:900px;">

        <div class="row g-0 align-items-center">

            <!-- Doctor Details -->
            <div class="col-md-6 p-4 text-center reveal reveal-left">

                <h4 style="color:#0056b3; font-weight:700;">
                    Dr. {{ doctor.user.first_name }} {{ doctor.user.last_name }}
                </h4>

                <p class="text-muted small fw-bold mb-2">
                    {{ doctor.designation }}
                </p>

                <h5 class="fw-bold mb-4">
                    {{ doctor.specialization.name }}
                </h5>

                <p class="text-muted px-lg-5">
                    {{ doctor.short_bio|truncatewords:20 }}
                </p>

               
            </div>


            <!-- Doctor Image -->
            <div class="col-md-6 text-end">

                <div
                    style="border-radius:100px 0 0 100px;
                           padding-left:50px;
                           display:inline-block;">

                    {% if doctor.profile_image %}
                    <img src="{{ doctor.profile_image.url }}"
                         alt="Dr {{ doctor.user.first_name }}"
                         class="img-fluid"
                         style="height:350px; width:auto; object-fit:cover;">
                    {% else %}
                    <img src="{% static 'assets/images/default-doctor.png' %}"
                         class="img-fluid"
                         style="height:350px; width:auto;">
                    {% endif %}

                </div>

            </div>

        </div>

    </div>

</div>
{% endfor %}


                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#doctorCarousel"
                    data-bs-slide="prev">
                    <span class="carousel-control-icon"><i class="fas fa-chevron-left"></i></span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#doctorCarousel"
                    data-bs-slide="next">
                    <span class="carousel-control-icon"><i class="fas fa-chevron-right"></i></span>
                </button>
            </div>
        </div>

         <div class="col-md-6 text-md-end mt-3  reveal reveal-right">
                    <a href="{% url 'userapp:doctor_list'%}" class="btn btn-view-more  mobile-hide-element">View All &rsaquo;</a>
                </div>
    </section>

      <!-- Section 6 -->
    <section class="why-choose-section py-5"
        style="background: #00bcd4; color: white; position: relative; overflow: hidden;">
        <div class="bg-shape-overlay"></div>

        <div class="container position-relative" style="z-index: 2;">
            <div class="row align-items-center">
                <div class="col">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-lg-6  reveal reveal-left">
                            <h6 class="mb-2" style="letter-spacing: 1px; font-size: 0.9rem;">{{homepage.highlights_subtitle}}
                            </h6>
                            <h2 class="display-6 fw-bold mb-4">{{homepage.highlights_title}}</h2>
                        </div>
                        <div class="col-md-12 col-sm-12 col-lg-6  reveal reveal-right">
                            <p class="mb-5 opacity-90" style="line-height: 1.8;">
                               {{homepage.highlights_description}}
                            </p>
                        </div>
                    </div>
                    <div class="feature-rows">
                        {% for highlight in highlights %}
                        <div class="row align-items-center border-bottom border-light py-4">
                            <div class="col-1">
                                <img src="{{highlight.image.url}}" style="height: 80px;">
                            </div>
                            <div class="col-4  reveal reveal-left">
                                <h5 class="mb-1 fw-bold text-start">{{highlight.title}}</h5>
                            </div>
                            <div class="col-4">
                                <p class="small mb-0 opacity-75 text-start  reveal reveal-right">
                                 {{highlight.description}}
                                </p>
                            
                            </div>
                            <div class="col-3 text-end  reveal reveal-left">
                                <a href="{% url 'userapp:about-us' %}" class="text-white text-decoration-none small">Know More &rarr;</a>
                            </div>
                        </div>
                        {% endfor %}

                       
                    </div>
                </div>
            </div>
        </div>
    </section>

 <!-- Section 7 -->
     <section class="py-5" style="background-color: #ffffff;">
        <div class="container">
            <div class="row align-items-end mb-5">
                <div class="col-md-6  reveal reveal-left">
                    <h3 style="color: #008eb3; font-weight: 700; margin-bottom: 5px;">{{homepage.blog_subtitle}}</h3>
                    <h5 style="color: #333; font-weight: 600;">{{homepage.blog_title}}</h5>
                </div>
                <div class="col-md-6 text-md-end  reveal reveal-right">
                    <a href="{% url 'userapp:blog_list'%}" class="btn btn-view-more  mobile-hide-element">View More &rsaquo;</a>
                </div>
            </div>

          

              <div class="row g-4">
          <!-- Blog Card 1 -->
          {% for blog in blogs %}
          <div class="col-md-4">
            <article class="blog-card">
              <div class="blog-card-image">
                <img src="{{ blog.featured_image.url }}" alt="Family Medicine" />
                <span class="blog-category">{{ blog.category }}</span>
              </div>
              <div class="blog-card-body">
                <div class="blog-meta">
                  <span class="blog-meta-item">
                    <i class="fas fa-calendar-alt"></i>
                    {{ blog.published_at }}
                  </span>
                  <span class="blog-meta-item">
                    <i class="fas fa-user"></i>
                     {{ blog.published_by }}
                  </span>
                </div>
                <h3 class="blog-card-title">
                  <a href="{% url 'userapp:blog-detail' blog.slug %}">{{ blog.title }}</a>
                </h3>
                <p class="blog-card-excerpt">
                  {{ blog.short_description|truncatewords:20 }}
                </p>
                <a
                  href="{% url 'userapp:blog-detail' blog.slug %}"
                  class="blog-read-more"
                >
                  Read More <i class="fas fa-arrow-right"></i>
                </a>
              </div>
            </article>
          </div>

          {% endfor %}
        </div>
            <div class="text-center desktop-hide-element  reveal reveal-left">
                <a href="{% url 'userapp:blog_list'%}" class="btn btn-view-more ">View More &rsaquo;</a>
            </div>
        </div>
    </section>

 <!-- Section 8 -->
    <section style="position: relative; width: 100%; overflow: hidden;">
        <img src="{{homepage.parallax_banner.url}}" class="img-pop reveal reveal-right"
            style="width: 100%; height: auto; display: block;">

        <div class="img-pop-content">
            <div class="container">
                <div class="row align-items-center" style="padding-top: 120px;">
                    <div class="col-4"></div>
                    <div class="col-md-4 text-center ">
                        <h3 class="text-white reveal reveal-left">{{homepage.parallax_title}}</h3>
                        <p class="text-center text-white">{{homepage.parallax_description}}</p>
                    </div>
                    <div class="col-md-4 text-md-end">
                         <a href="{% url 'booking:book_appointment'%}" class="btn-custom reveal reveal-left text-decoration-none">
                         + {{ homepage.parallax_cta }}
                      </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

 



{% endblock %}