
aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiohttp-retry==2.9.1
aiosignal==1.4.0
asgiref==3.11.1
attrs==26.1.0
certifi==2026.2.25
charset-normalizer==3.4.7
dj-database-url==3.1.2
Django==6.0.2
django-ckeditor==6.7.3
django-js-asset==3.1.2
frozenlist==1.8.0
idna==3.11
multidict==6.7.1
pillow==12.1.1
propcache==0.4.1
psycopg2-binary==2.9.12
PyJWT==2.12.1
python-dotenv==1.2.2
requests==2.33.1
sqlparse==0.5.5
twilio==9.10.4
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.3
yarl==1.23.0
gunicorn==26.0.0