{% extends "shared/base.html" %} {% load static %} {% block title %}Home |
Elister Med{% endblock %} {% block content %}

<!-- Hero Section -->
<section
  class="about-hero"
  {%
  if
  specialization.hero_banner
  %}
  style="background-image: linear-gradient(rgba(0, 143, 179, 0.644), rgba(0, 108, 138, 0.578)),url('{{ specialization.hero_banner.url}}'); background-size: cover; background-position: center;"
  {%
  endif
  %}
>
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-custom">
        <li class="breadcrumb-item">
          <a href="{% url 'userapp:home' %}">Home</a>
        </li>

        {% for item in breadcrumbs %} {% if not forloop.last %}
        <li class="breadcrumb-item">
          <a href="{{ item.url }}">{{ item.name }}</a>
        </li>
        {% else %}
        <li class="breadcrumb-item active" aria-current="page">
          {{ item.name }}
        </li>
        {% endif %} {% endfor %}
      </ol>
    </nav>
    <h1>{{specialization.hero_title}}</h1>
    <p class="lead">{{specialization.hero_description }}</p>
  </div>
</section>

<section class="py-5 about-section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <h2 class="section-title">{{specialization.main_title}}</h2>

        {{specialization.main_description |safe}}
      </div>

      <div class="col-lg-6">
        <img
          src="{{specialization.main_image.url }}"
          class="section-img"
          alt="{{specialization.hero_banner_alt}}"
        />
      </div>
    </div>
  </div>
</section>

<!-- SERVICES -->

<section class="services-section">
  <div class="container">
    <!-- Heading -->
    <div class="text-center text-white mb-5">
      <h2 class="section-title text-white fw-bold">Our {{ specialization.name }} Services</h2>
     
    </div>

    <!-- Swiper -->
    <div class="swiper servicesSwiper">
      <div class="swiper-wrapper">
        {% for service in services %}
        <div class="swiper-slide">
          <div class="service-card">
            {% if service.featured_image %}
            <img src="{{ service.featured_image.url }}" class="card-img" />
            {% endif %}

            <div class="card-body text-center">
              <h5 class="text-capitalize">{{ service.name }}</h5>
              <p>{{ service.short_description|truncatewords:15 }}</p>

              <a
                href="{% url 'userapp:service_detail' service.slug %}"
                class="read-btn"
              >
                Read More →
              </a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<!-- WHEN TO VISIT -->
<section class="py-5">
  <div class="container">
    <div class="row align-items-center g-4">
      <div class="col-lg-6">
        <img
          src="{{specialization.secondary_image.url}}"
          class="section-img"
          alt="{{specialization.secondary_image_alt}}"
        />
      </div>

      <div class="col-lg-6">
        <div class="info-box">
          <h3 class="section-title">{{specialization.secondary_title}}</h3>

          {{specialization.long_description_primary |safe}}
          
        </div>
      </div>
    </div>
  </div>
</section>

<!-- WHEN TO VISIT -->
<section class="py-5">
  <div class="container">
    <div class="row align-items-center g-4">
     
        

      <div class="col-lg-10 col-lg-offset-2">
        
         

       
          {{specialization.long_description_secondary |safe}}
        
      </div>
    </div>
  </div>
</section>

<!-- DOCTORS -->
<section class="py-5 bg-light">
  <div class="container">
    <h2 class="text-center section-title">
      Meet Our {{ specialization.name }} Experts
    </h2>

    <div class="row g-4 mt-4">
      {% for doctor in doctors %}
      <div class="col-lg-4">
        <div class="doctor-card card">
          {% if doctor.profile_image %}
          <img src="{{ doctor.profile_image.url }}" class="doctor-img" />
          {% endif %}

          <div class="card-body text-center">
            <h5>
              Dr. {{ doctor.user.first_name }} {{ doctor.user.last_name }}
            </h5>
            <p class="text-muted small">{{ doctor.designation }}</p>
            <p class="small">
              {{ doctor.specialized_in }} • {{ doctor.years_of_experience }}+
              Years Experience
            </p>
            <a
              href="{% url 'userapp:doctor_detail' doctor.slug %}"
              class="btn-details"
            >
              View Profile
              <i class="fas fa-chevron-right"></i>
            </a>
          </div>
        </div>
      </div>

      {% endfor %}
    </div>
  </div>
</section>

<section class="py-5 bg-light">
  <div class="container">
    <h3 class="text-center mb-4 section-title">FAQs</h3>

    <div class="mb-4">
      <div class="accordion" id="faqAccordion{{ forloop.counter }}">
        {% for faq in specialization.faqs.all %}
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              data-bs-toggle="collapse"
              data-bs-target="#faq{{ forloop.parentloop.counter }}{{ forloop.counter }}"
            >
              {{ faq.question }}
            </button>
          </h2>

          <div
            id="faq{{ forloop.parentloop.counter }}{{ forloop.counter }}"
            class="accordion-collapse collapse"
            data-bs-parent="#faqAccordion{{ forloop.parentloop.counter }}"
          >
            <div class="accordion-body">{{ faq.answer }}</div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>


{% include "partials/cta.html" with footer_title=footer_title footer_description=footer_description page_cta=page_cta %}

 <script>
  document.addEventListener("DOMContentLoaded", function () {
    new Swiper(".servicesSwiper", {
      slidesPerView: 4,
      spaceBetween: 20,
      loop: true,

      autoplay: {
        delay: 2500,
        disableOnInteraction: false,
      },

      breakpoints: {
        0: { slidesPerView: 1 },
        576: { slidesPerView: 2 },
        768: { slidesPerView: 3 },
        992: { slidesPerView: 4 },
      },
    });
  });
</script> 

{% endblock %}
