{% extends "administrator/shared/base.html" %}
{% block title %}Manage Gallery{% endblock %}

{% block content %}


<h2>Gallery</h2>

<a href="{% url 'administrator:gallery_add' %}" class="btn btn-primary">Add Gallery</a>

<table class="table mt-3">
    <tr>
        <th>Title</th>
        <th>Type</th>
        <th>Actions</th>
    </tr>

    {% for g in galleries %}
    <tr>
        <td>{{ g.title }}</td>
        <td>{{ g.media_type }}</td>
        <td>
            <a href="{% url 'administrator:gallery_edit' g.id %}">Edit</a> |
            <a href="{% url 'administrator:gallery_delete' g.id %}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>


{% endblock %}