{% extends "administrator/shared/base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<h4 class="mb-4">Dashboard Overview</h4>

<div class="row g-4">

<div class="col-md-3">
<div class="dashboard-card card-doctor">

<h6>Total Doctors</h6>
<h2>{{ doctor_count }}</h2>

</div>
</div>


<div class="col-md-3">
<div class="dashboard-card card-department">

<h6>Total Departments</h6>
<h2>{{ specialization_count }}</h2>

</div>
</div>


<div class="col-md-3">
<div class="dashboard-card card-appointment">

<h6>Total Packages</h6>
<h2>{{ package_count }}</h2>

</div>
</div>


<div class="col-md-3">
<div class="dashboard-card card-patient">

<h6>Total Services</h6>
<h2>{{service_count}}</h2>

</div>
</div>

<div class="col-md-3">
<div class="dashboard-card card-doctor">

<h6>Total Appointment Request Today</h6>
<h2> {{ total }}</h2>

</div>
</div>


<div class="col-md-3">
<div class="dashboard-card card-appointment">

<h6>Total Approved Request Today</h6>
<h2> {{ approved }}</h2>

</div>
</div>

<div class="col-md-3">
<div class="dashboard-card card-patient">

<h6>Total pending Request Today</h6>
<h2> {{ pending }}</h2>

</div>
</div>


<div class="col-md-3">
<div class="dashboard-card card-department">

<h6>Total Cancelled Request Today</h6>
<h2> {{ cancelled }}</h2>

</div>
</div>

</div>


<div class="container mt-4">


<!-- 🔹 DOCTOR LEAVE TODAY -->
<h5 class="mt-4">Doctor's on Leave Today</h5>

<table class="table table-bordered">

    <thead>
        <tr>
            <th>Doctor</th>
            <th>Type</th>
            <th>Time</th>
        </tr>
    </thead>

    <tbody>

        {% for leave in today_leaves %}
        <tr>
            <td>{{ leave.doctor }}</td>

            <td>
                {% if leave.is_full_day %}
                    Full Day
                {% else %}
                    Partial
                {% endif %}
            </td>

            <td>
                {% if not leave.is_full_day %}
                    {{ leave.start_time|time:"h:i A" }} - {{ leave.end_time|time:"h:i A" }}
                {% else %}
                    —
                {% endif %}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">No leaves today</td>
        </tr>
        {% endfor %}

    </tbody>

</table>

</div>

{% endblock %}



