{% extends "administrator/shared/base.html" %}
{% block title %}Booking List{% endblock %}


{% block content %}

<h2>Newsletter Subscribers</h2>

<table border="1" cellpadding="10">
  <tr>
    <th>Email</th>
    <th>Subscribed On</th>
    <th>Action</th>
  </tr>

  {% for sub in subscribers %}
  <tr>
    <td>{{ sub.email }}</td>
    <td>{{ sub.created_at|date:"d M Y" }}</td>
    <td>
      <a href="{% url 'administrator:delete_subscriber' sub.id %}">
        Delete
      </a>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}