{% extends "shared/base.html" %} {% load static %} {% block title %}Home |
Elister Med{% endblock %} {% block content %}




   <!-- Hero Section -->
    {% include "shared/hero.html" %}

     <!-- SEARCH & FILTER -->
    <section class="container mb-5">
        <form method="get">
        <div class="search-filter-section">
            <div class="row g-3 align-items-end">
                <div class="col-md-4">
                    <label class="form-label fw-semibold small text-uppercase text-muted mb-2">Search Doctor</label>
                    <div class="input-group">
                        <span class="input-group-text bg-white border-end-0">
                            <i class="bi bi-search text-muted"></i>
                        </span>
                        <input type="text" class="form-control border-start-0" name="q"  value="{{ query|default:'' }}"
                            placeholder="Search by name or specialty...">
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="form-label fw-semibold small text-uppercase text-muted mb-2">Specialty</label>
                    <!-- <select class="form-select">
                        <option selected>All Specialties</option>
                        <option>Cardiology</option>
                        <option>Orthopedics</option>
                        <option>Dermatology</option>
                        <option>Pediatrics</option>
                        <option>Gynecology</option>
                        <option>General Medicine</option>
                        <option>Neurology</option>
                        <option>ENT</option>
                    </select> -->

                       <select name="specialization" class="form-select">

                        <option value="">All Specialties</option>

                        {% for spec in specializations %}
                        <option value="{{ spec.id }}"
                            {% if specialization == spec.id|stringformat:'s' %}selected{% endif %}>
                            {{ spec.name }}
                        </option>
                        {% endfor %}

                    </select>
                </div>
              
                <div class="col-md-3">
                    <button class="btn btn-primary-custom w-100">
                        <i class="bi bi-funnel me-2"></i>Filter
                    </button>
                </div>
            </div>
        </div>

        </form>
    </section>

    <!-- DOCTORS GRID -->
    <section id="doctors" class="container pb-5">
       

      
              

               <div class="row g-4 mt-4">
      {% for doctor in doctors %}
      <div class="col-lg-4">
        <div class="doctor-card card">
          {% if doctor.profile_image %}
          <img src="{{ doctor.profile_image.url }}" class="doctor-img" />
          {% endif %}

          <div class="card-body text-center">
            <h5>
              Dr. {{ doctor.user.first_name }} {{ doctor.user.last_name }}
            </h5>
            <p class="text-muted small">{{ doctor.designation }}</p>
            <p class="small">
              {{ doctor.specialized_in }} • {{ doctor.years_of_experience }}+
              Years Experience
            </p>
            <a
              href="{% url 'userapp:doctor_detail' doctor.slug %}"
              class="btn-details"
            >
              View Profile
              <i class="fas fa-chevron-right"></i>
            </a>
          </div>
        </div>
      </div>

      {% endfor %}
    </div>

        </div>
    </section>

    <!-- CTA SECTION -->
  

    {% include "partials/cta.html" with footer_title=footer_title footer_description=footer_description page_cta=page_cta %}





{% endblock %}