{% extends "administrator/shared/base.html" %}
{% block title %}Doctor Schedule Page{% endblock %}

{% block content %}

<div class="container mt-4">

<h4>Doctor Leave</h4>

   <a
      href="{% url 'administrator:leave_list' %}"
      class="btn btn-primary btn-sm mb-3"
    >
       Back
    </a>

<form method="post">
    {% csrf_token %}

    <div class="row">

        <div class="col-md-4">
            <label>Doctor</label>
            {{ form.doctor }}
        </div>

        <div class="col-md-4">
            <label>Date</label>
            {{ form.date }}
        </div>

        <div class="col-md-4">
            <label>Full Day</label><br>
            {{ form.is_full_day }}
        </div>

        <div class="col-md-4 mt-3">
            <label>Start Time</label>
            {{ form.start_time }}
        </div>

        <div class="col-md-4 mt-3">
            <label>End Time</label>
            {{ form.end_time }}
        </div>

        <div class="col-md-4 mt-3">
            <label>Reason</label>
            {{ form.reason }}
        </div>

    </div>
 <div>
    <button class="btn btn-success mt-3">Save</button>

   
 
    </div>
</form>

</div>


{% endblock %}