
{% extends "administrator/shared/base.html" %}
{% block title %}Doctor Schedule Page{% endblock %}

{% block content %}




<div class="container mt-4">

<h4>Doctor Schedules</h4>

  <a
      href="{% url 'administrator:schedule-create' %}"
      class="btn btn-primary btn-sm mb-3"
    >
      + Add Schedule
    </a>

<table class="table table-bordered">

    <thead>
        <tr>
            <th>Doctor</th>
            
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>

        {% for schedule in schedules %}
        <tr>
            <td>{{ schedule.doctor }}</td>
         

            <td>
                <a href="{% url 'administrator:schedule_update' schedule.id %}" class="btn btn-primary btn-sm">Edit</a>
                <a href="{% url 'administrator:schedule_delete' schedule.id %}" class="btn btn-danger btn-sm"  onclick="
                  return confirm(
                    'Are you sure you want to delete this item',
                  );
                ">Delete

                    
                </a>
            </td>
        </tr>
        {% endfor %}

    </tbody>

</table>

</div>




{% endblock %}